<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application>
        <receiver android:name=".core.util.exception.ExceptionReceiver" />

        <activity
            android:name=".ui.screen.home.HomeActivity"
            android:launchMode="singleTask"
            android:taskAffinity="co.id.hn0001.app_config_core.task" />

        <activity
            android:name=".ui.screen.receiver.OctetStreamReceiverActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="co.id.hn0001.app_config_core.task">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.screen.baseurl.BaseURLActivity" />
        <activity android:name=".ui.screen.exception.ExceptionActivity" />
        <activity android:name=".ActivityProcess" />
    </application>
</manifest>
